/* CSS 1 | Setup font and body */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* CSS 2 | The Header and the navbar */
body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    padding: 15px 0px;
    max-height: 20px;
  }

  .search-input {
    width: 850px;
    padding-left: 45px;
    background: url('images/magnifying-glass.png') no-repeat 5px center;
    background-size: 20px 20px;
    background-color: lightgray;
    border: none;
  }

  .search-button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 40px;
  }

.joinandlogin {
    padding: 5px 10px;
}

#section1 {
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(232,217,217,.3);
}

h1 {
font-size: 70px;
font-weight: bold;
}


#section1 article {
margin-bottom: 50px;
width: 500px;
}

.section1-buttons {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.section1-buttons button {
  padding: 15px 60px;
  font-weight: bold;
  border: none;
}

#button-red {
  background-color: #FB3B49;
  color: white;
}

#button-white {
background-color: white;
}

#section2 {
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section2 img{
width: 220px;
height: 220px;
}


  h2 {
    font-size: 35px;
    padding: 0px 30px;
   background-color: rgb(237, 212, 131);
  }

#section2 article {
  width: 600px;
  margin-top: 15px;
  }

#section3 {
width: 1000px;
margin: 0 auto; 
display:flex;
flex-direction: row;
justify-content: space-evenly;
gap: 40px;
}

#section3 img {
  height: 30px;
  width: 30px;
}

h3 {
  color: red
}

.button-element {
  display: flex;
  justify-content: center;
  margin: 50px 0px 30px 0px;
}

.button-element button {
  background-color: black;
  color: white;
  padding: 10px 90px;
  font-size: medium;
}